<% content_for :top_content do %>
  <div class="jumbotron">
    <div class="container">
      <img src="http://orlando-mp7static.mlsdigital.net/elfinderimages/Headers/Youth_futsal.jpg">
      
      <span>
        <%= link_to 'JOIN EVENT', activities_path, class: 'btn btn-primary btn-lg' %>
      </span>

      <span>
        <%= link_to 'CREATE EVENT', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
      </span>

    </div>
  </div>
<% end %>