<h1>This is totally just a test!</h1>

<% content_for :top_content do %>
  <div class="jumbotron">
    <div class="container">

      <!-- <img src="http://orlando-mp7static.mlsdigital.net/elfinderimages/Headers/Youth_futsal.jpg"> -->

      <img src="http://westbayclub.co.uk/wp-content/uploads/2015/03/shutterstock_105224906-1200x585.jpg">
      
      <span>
        <%= link_to 'JOIN EVENT', activities_path, class: 'btn btn-primary btn-lg' %>
      </span>

      <span>
        <%= link_to 'CREATE EVENT', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
      </span>

    </div>
  </div>
<% end %>

