<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Click On Your Favorite Activity And Find Available Teams!</h2>
        </div>
    </div>
</aside>

