<header>
    <div class="header-content">
        <div class="header-content-inner">
        	<h2>Welcome To</h2>
            <h1>Team Up</h1>
            <hr>
            <p>We help you to find players for your team activities.</p>
            <a href="#services" class="btn btn-primary btn-xl page-scroll"><%= image_tag("down-arrow.png") %></a>
        </div>
    </div>
</header>

